<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<header>
    <h2>  <span th:text="${loggedInUsername}"></span></h2>
    <h2>  A pult száma: <span th:text="${deskNumber}"></span></h2>
</header>
<h2>Várakozó ügyfelek</h2>
<table>
    <thead>
    <tr>
        <th>Lakosság</th>
        <th>Vállalat</th>
        <th>Pénztár</th>
        <th>Premium</th>
    </tr>
    </thead>
<tr>
    <td th:text="${lakossagCount}"></td>
    <td th:text="${vallalatCount}"></td>
    <td th:text="${penztarCount}"></td>
    <td th:text="${premiumCount}"></td>
</tr>
</table>
<h2>  <span th:text="${permission}"></span></h2>
<table>
    <thead>
    <tr>
    <th>Várakozók</th>
    <th>Csapat létszám</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${actualCount}"></td>
        <td th:text="${letszamCount}"></td>
    </tbody>
</table>
<form th:action="@{/desk/next}" method="get">
    <button type="submit"> Következő ügyfél</button>
</form>


</body>
</html>